body
{
    margin: 0%;
    padding: 0%;
}

.header
{
    margin: 0%;
    padding: 0%;
    background-color: cadetblue;
    text-align: center;
    align-items: center;
    align-content: center;
}

.calculator
{
    align-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 400px;
}

button
{
    padding: 0%;
    border: 1px solid black;
    margin: 0%;
    height: 30px;
    width: 30px;
}

.screen
{
    align-content: center;
    text-align: center;
    font-size: 22px;
    padding: 3px;
}